# Supabase PostgreSQL Connection String
DATABASE_URL=postgresql://postgres:zQ3HmSQCvHU2smPu@db.klaifmcafzemixgnllev.supabase.co:5432/postgres
# Brevo HTTP API Key (For Email OTP)
BREVO_API_KEY=your_brevo_api_key_here

# App Security
SECRET_KEY=niyantra-railway-security-prod-2026
FRONTEND_URL=frontendniyantra.vercel.app